### Documentation available at https://wodby.com/docs/stacks/drupal/local
### Changelog can be found at https://github.com/wodby/docker4drupal/releases
### Images tags format explained at https://github.com/wodby/docker4drupal#images-tags

### PROJECT SETTINGS

PROJECT_NAME=my_symfony_project
PROJECT_BASE_URL=symfony.docker.localhost
PROJECT_PORT=8000

DB_NAME=symfony
DB_USER=symfony
DB_PASSWORD=symfony
DB_ROOT_PASSWORD=password
DB_HOST=mysql
DB_PORT=3306
DB_DRIVER=mysql

GIT_USER_EMAIL=a.depret@choosit.com
GIT_USER_NAME=Axel

### --- Images version Docker ---
PHP_TAG=8.1-4.32.5
MYSQL_TAG=5.7.39
MYSQL_VERSION_MAJOR=5.7
APACHE_TAG=2.4-4.7.1

### --- Symfony specifics settings ---
SYMFONY_VERSION=6.1.*
SYMFONY_API=
APP_ENV=dev
MAILER_DSN=smtp://mailhog:1025
APP_SECRET=2ca64f8d83b9e89f5f19d672841d6bb8
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'

## Already buid-in docker-compose.yml
#DATABASE_URL=sqlite:///%kernel.project_dir%/data/database.sqlite
#DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7",
#DATABASE_URL="postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=13&charset=utf8"

### --- NGINX ----

NGINX_TAG=1.23-5.25.6
#NGINX_TAG=1.22-5.25.6
#NGINX_TAG=1.21-5.25.6

NGINX_VHOST_PRESET=drupal9
#NGINX_VHOST_PRESET=drupal8
#NGINX_VHOST_PRESET=drupal7

### --- SOLR ---

SOLR_TAG=8-4.18.1
#SOLR_TAG=7-4.18.1
#SOLR_TAG=6-4.18.1
#SOLR_TAG=5-4.18.1

SOLR_CONFIG_SET="search_api_solr_4.1.6"
#SOLR_CONFIG_SET="search_api_solr_4.0.1"
#SOLR_CONFIG_SET="search_api_solr_8.x-3.9"
#SOLR_CONFIG_SET="search_api_solr_8.x-3.2"
#SOLR_CONFIG_SET="search_api_solr_8.x-2.7"
#SOLR_CONFIG_SET="search_api_solr_8.x-1.2"
#SOLR_CONFIG_SET="search_api_solr_7.x-1.14"

### --- ELASTICSEARCH ---

ELASTICSEARCH_TAG=7-5.18.3
#ELASTICSEARCH_TAG=6-5.18.3

### --- KIBANA ---

KIBANA_TAG=7-5.18.3
#KIBANA_TAG=6-5.18.3

### --- REDIS ---

REDIS_TAG=7-3.14.5
#REDIS_TAG=6-3.14.5
#REDIS_TAG=5-3.14.5

### --- NODE ---

#NODE_TAG=18
#NODE_TAG=16
NODE_TAG=14

### --- VARNISH ---

VARNISH_TAG=6.0-4.11.3
#VARNISH_TAG=4.1-4.11.3

### --- POSTGRESQL ----

POSTGRES_TAG=14-1.28.4
#POSTGRES_TAG=13-1.28.4
#POSTGRES_TAG=12-1.28.4
#POSTGRES_TAG=11-1.28.4
#POSTGRES_TAG=10-1.28.4

### OTHERS

ADMINER_TAG=4-3.23.8
ATHENAPDF_TAG=2.16.0
MEMCACHED_TAG=1-2.13.3
OPENSMTPD_TAG=6-1.14.3
RSYSLOG_TAG=latest
SELENIUM_CHROME_TAG=3.141
WEBGRIND_TAG=1-1.28.10
XHPROF_TAG=3.6.8
ZOOKEEPER_TAG=3.8
